/*******************************/
/*           Common            */
/*******************************/

body{
	background-color: grey;
	font-family: proxima-nova,sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #333;
	margin: 0;
	padding: 0;
}
a {
	color: #00C1C9;
	text-decoration: none;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: #00C1C9;
	background-color: rgba(0, 193, 201, 0.05);
}
button {
	color: #fff;
	background-color: #00C1C9;
	border-color: #00C1C9;
	border: 1px solid transparent;
	padding: 6px 12px;
	border-radius: 4px;
	cursor: pointer;
}
button:hover {
	color: #fff;
	background-color: #009096;
	border-color: #00868c;
}
button:focus {
	outline: 0;
}
button:disabled  {
	display:none;
}
button:active {

}
.picon{
	display: inline-block;
	overflow: hidden;
	text-indent: -999px;
	background-image: url(sprites.png)!important;
	background-repeat: no-repeat;
}

/*******************************/
/*            Main             */
/*******************************/
.floatingBar{
	padding: 7px 10px;
	background: #262A35;
	color: #fff;
	margin:0;
	border:0;
	width: 100%;
	position: fixed;
	z-index: 10;
}
#header { 
	top:0;  
}
#footer { 
	bottom:0; 
	height: 30px;
}

#statusText{ 
	top: 0px;
	position: absolute;
	padding-left: 5px;
	display:inline; 
}

#list {
	margin-top: 50px;
	margin-bottom: 50px;
	padding-left: 10px;
	padding-right: 10px;
	list-style-type: none;
}

/*******************************/
/*       Activity Card         */
/*******************************/
.card {
	margin-bottom: 10px;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.16);
	position: relative;
	border: 0;
	border-radius: 4px;
	background: #fff;
}
.activity.source-playerme { border-left: 3px solid #00C1C9; }
.activity.source-youtube  { border-left: 3px solid #DC332D; }
.activity.source-twitch   { border-left: 3px solid #6441A5; }

/*******************************/
/*        Activity Info        */
/*******************************/

.info{
	padding: 10px;
	height: 70px;
	box-sizing: border-box;
}
.info .avatar{
	margin-right: 5px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	vertical-align: middle;
}
.info .username {
	color: #3e4656;
}

.activity .info .source {
	position: relative;
	top: 8px;
	display: inline-block;
	float: right;
}
.source-label{
	position: relative;
	top: -11px;
	color: #929CAF;
}
.source-icon{
	margin-left: 5px;
	width: 33px;
	height: 33px;
	background-position: -420px -433px;
}
.source-playerme .source-icon { background-position: -185px -437px; }
.source-youtube	 .source-icon { background-position: -128px  -69px; }
.source-twitch	 .source-icon { background-position: -473px -378px; }

/*******************************/
/*      Activity Content       */
/*******************************/

.activity .content{
	padding: 5px 10px;
	background: #f7f7f9;
}
.activity .content .post{
	color: #7c818b;
	word-break: break-word;
	overflow: hidden;
}

.video .content .thumbnail,
.post .content .thumbnail{
	min-height: 121px;
	max-width: 215px;
	margin-right: 10px;
}
.video .content .thumbnail{ float: left; }
.post .content .thumbnail{ float: left; }

.post .content .metas {
	list-style-type: none;
}
.post .content .meta {
	clear:left;
	padding-top: 5px;
}

/*******************************/
/*       Activity Footer       */
/*******************************/

.activity .footer{
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.time{
	display: inline;
	height: 33px;
}
.time a{
	float: right;
	position: relative;
	color: #919baf;
}
.icon-clock{
	position: relative;
	top: 4px;
	margin-right: 4px;
	background-position: -515px -351px;
	width: 17px;
	height: 17px;
}

.container{
	display: inline-block;
	min-width: 48px;
}
.container .like{
	width: 34px;
	padding: 0;
	height: 33px;
	text-align: right;
	color: #919baf;
}

.container .like .picon{
	background-position: -40px -503px;
	width: 17px;
	height: 15px;
	position: relative;
	top: 3px;
	margin-right: 5px;
}
.container .comment .picon{
	background-position: -515px -456px;
	width: 20px;
	height: 17px;
	position: relative;
	top: 3px;
	margin-right: 5px;
}

#moreBtn{
	position: absolute;
	right: 30px;
}

/*******************************/
/*            Misc             */
/*******************************/
.question-icon{
	width: 21px;
	height: 21px;
	background-position: -373px -474px;
margin-top: 5px;
}
